@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f7f7f7;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f7f7f7;
}

/* -------------------------Navbar Css --------------------------- */

.nav-items li a  {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease; 
  font-size: 1rem;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
}
.nav-items li a:hover {
  color: #2563eb; 
}
.nav-items li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #2563eb; 
  left: 0;
  bottom: -2px;
  transition: width 0.4s ease, background-color 0.4s ease;
  transition-delay: 0.2s;
}
.nav-items li a:hover::after {
  width: 100%;
}

/* Navbar Transitions */
header {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transform: translateZ(0);
  will-change: transform, backdrop-filter;
}

header.bg-transparent {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

header.bg-white {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1024px) {
  .nav-items li a {
    font-size: 1.125rem;
    padding: 1rem 0;
    display: block;
  }
  
  .nav-items li {
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  
  .nav-items li:last-child {
    border-bottom: none;
  }
}

body {
  padding-top: 0;
}